
<header>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones">
    <span class="navbar-toggler-icon"></span>
  </button>
  

  <a class="navbar-brand" href="#">
    <img src="/assets/img/4k (1).png" alt="Mi Imagen">
  </a>
  
  
  <div class="collapse navbar-collapse" id="opciones">   
    <ul class="navbar-nav">
      <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
        
          <li><a href="#inicio">Inicio</a></li>
          <li><a href="#intro">Sobre 4k</a></li>
          <li><a href="#servi">Servicios</a></li>
        </ul>
                 
    </ul>
   
  </div>
  <ul class="nav navbar-nav navbar-right" id="re">
    <li><a href="/registro"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
  </ul>  
</nav>
</header>
      <router-outlet></router-outlet>
<!-- //    <img src="/assets/img/4k (1).png" alt="Mi Imagen"> -->