

<footer>

 <div class="social-icons">


    <p>¡Transformamos tus espacios! Descubre nuestros servicios de handyman para solucionar cualquier tarea de hogar. ¡Deja que hagamos el trabajo pesado por ti!</p>
      <div class="mena">       
    <a href="https://www.instagram.com/"><img src="/assets/img/instagram.png" class="icono">

    </a>
    <a href="https://w.app/Persianas4k"><img src="/assets/img/whatsapp.png" class="icono">

    </a>
    <a href="https://www.instagram.com/"><img src="/assets/img/facebook.png" class="icono">

    </a>
</div> 
  </div>
  <section id="contact">   
    <div id="footer" class="row">
<div class="col-12 col-md-6"><form class="form" action="https://formspree.io/f/mqkvpava"
method="POST">
<div class="form-container">
    

  <p>Número de celular: +57 3002178372</p>
  <p>Correo electrónico: persianas4kgmail.com</p>
  <p>¡Arreglamos lo que sea, en cualquier momento!</p>


</div>


</form></div>
